@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-inter: "Inter", sans-serif;
  font-size: 16px;
  --primary-color: #404040;
  --secondary-color: #7f53e8;
  --ptag-color: #4f535b;
  --accent-color: #e74c3c;
  --light-color: #ecf0f1;
  --dark-color: #2c3e50;
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
}

@media (prefers-color-scheme: dark) {
  /* :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  } */
}

body {
  font-family: var(--font-inter);
  background: linear-gradient(180deg, #e0ebfb, #ffffff, #ffffff, #e0ebfb),
    url("/bg_dot_lines.svg") no-repeat center center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
/* h1 {
  font-size: 5.5rem;
  font-size: 50px;
  font-weight: 300;
  color: var(--primary-color);
  line-height: initial;
} */
h1,
h2 {
  /* font-size: calc(1.2vw + 1rem); */
  font-size: 50px;
  font-weight: 300;
  color: var(--primary-color);
  line-height: initial;
}
h1 span,
h2 span,
h3 span {
  background: linear-gradient(90deg, #9281ff, #3ea8bd, #89d6ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}
.custom-text {
  @media (min-width: 1024px) { 
    -webkit-text-fill-color: #404040;
    color: #404040;
  }
}
h3 {
  font-size: 44px;
  color: var(--primary-color);
  font-weight: 300;
  line-height: initial;
}
h4 {
  font-size: 1.25em;
  font-weight: 400;
  color: var(--secondary-color);
  line-height: initial;
  position: relative;
}
.lin-bf-txt h4::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 1.2px;
  height: 30px;
  background-color: var(--secondary-color);
  z-index: -1;
}
p {
  font-size: 18px;
  line-height: 1.6;
  color: var(--ptag-color);
  font-weight: 300;
}
.icon-bg {
  background-color: #ecf2fb;
  color: #3ea8bd;
  padding: 10px 15px;
  border-radius: 10px;
}
a {
  color: #3498db;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
.clr-bdr {
  border: 1px solid;
  border-image: linear-gradient(to right, #9281ff, #3ea8bd, #e0ffff) 1;
  border-radius: 25px;
}
.bg-grad {
  background: linear-gradient(90deg, #9281ff, #3ea8bd);
  display: flex;
  justify-content: center;
  padding: 50px;
  border-radius: 10px;
}
.bg-grad-sec {
  background: linear-gradient(90deg, #e0ebfb, #ffffff00);
  border-radius: 10px;
}
.bg-grad-1 {
  background: linear-gradient(90deg, #e0ebfb 40%, transparent);
}
.btn-bg-grad {
  background: linear-gradient(90deg, #9281ff, #3ea8bd, #89d6ff);
}
.ant-popover-content {
  width: 500px;
}
.ant-popover .ant-popover-inner {
  padding: 40px;
  box-shadow: 0 25px 30px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
}
.ant-collapse-item {
  border-bottom: 1px dashed #7f53e8 !important;
}
.ant-collapse-content {
  background-color: unset !important;
  border-top: unset !important;
}
.anticon-minus {
  background: #89d6ff;
  color: #fff !important;
  padding: 10px;
  border-radius: 50%;
}
.anticon-plus {
  background: #404040;
  color: #fff !important;
  padding: 10px;
  border-radius: 50%;
}
.ant-collapse-header {
  align-items: center !important;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.grad-border {
  position: relative;
}
.grad-border::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: inherit;
  background: linear-gradient(
    179.49deg,
    #9281ff 0.44%,
    #3ea8bd 59.42%,
    #e0ffff 99.56%
  );
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask-composite: exclude;
}
.grad-border-compliance {
  position: relative;
}
.grad-border-compliance::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: inherit;
  background: linear-gradient(
    300.49deg,
    #9281ff 0.44%,
    #3ea8bd 59.42%,
    #e0ffff 99.56%
  );
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask-composite: exclude;
}
.borderbutton {
  border-radius: 0 60px 60px 60px;
}
.borderbutton::before {
  padding: 1.5px;
}
.bdr-compliance::before {
  padding: 2.1px;
}
.bdr-sm-rds {
  border-radius: 25px;
}
.bdr-sm-rds::before {
  padding: 1.5px;
  z-index: -1;
}
.borderimage {
  border-radius: 55px;
}
.borderimage::before {
  padding: 2.1px;
}
.scond-itm:hover .first-itm{
  filter: blur(1.5px)!important;
}

/* Carousel Styles */
.carousel-item {
  display: flex;
  gap: 5;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.react-multi-carousel-item--center .carousel-item {
  transform: scale(1.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

li.react-multi-carousel-item.carousel-item {
  filter: blur(1px);
  opacity: 0.5;
}
.react-multi-carousel-item--active {
  filter: blur(0px) !important;
  opacity: 1 !important;
}
.react-multi-carousel-dot-list {
  bottom: -30px;
}
.react-multi-carousel-dot button {
  border-width: 1.5px !important;
  border-color: #0560a8 !important;
}
.react-multi-carousel-dot--active button {
  background: #0560a8 !important;
}

.react-multi-carousel-dot button {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 0 5px;
}

.react-multi-carousel-dot--active button {
  background-color: #333;
}

@media only screen and (max-width: 320px) {
}

@media only screen and (max-width: 480px) {
  h1 {
    font-size: 50px;
  }
  h3 {
    font-size: 35px;
  }
}

@media only screen and (max-width: 768px) {
  .no-bdr.grad-border::before {
    content: unset !important;
  }
}

@media only screen and (max-width: 1280px) {
}

@media only screen and (max-width: 1599px) {
  h1 {
    font-size: 50px;
  }
  h2 {
    font-size: 50px;
  }
  h3 {
    font-size: 40px;
  }
  h4 {
    font-size: 18px;
  }
  p {
    font-size: 14px;
  }
}

@media only screen and (min-width: 1600px) and (max-width:2000px) {
  h1 {
    font-size: 88px;
  }
  h2 {
    font-size: 68px;
  }
  h3 {
    font-size: 44px;
  }
}

@media only screen and (max-width: 1024px) {
  .no-bdr.grad-border::before {
    background: #c4dcff;
  }
  h4 {
    font-size: 22px;
  }
  p {
    font-size: 1em;
  }
  .lin-bf-txt h4::before {
    display: none;
  }
}
